/**
 * @file front-end.css
 * @description Estilos aplicables a elementos comunes de la aplicación Front-end
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('./ms-plantilla.css');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

#seccion-principal {
    width: 100%;
}
.mostrar {
    display: inline-block;
}


/*
.opcion-principal {
    border: 2px solid rgba(100, 100, 100, 0.5);
    border-radius: .5em 0 .5em 0;
    padding: .5em;
    text-decoration: none;
    background-color: rgba(100, 100, 100, 0.2);
    color: inherit;
}

.opcion-principal:hover  {
    background-color: rgba(100, 100, 100, 0.3);
}
*/


.opcion-principal,
.opcion-secundaria,
.opcion-terciaria {
    border: 2px solid rgba(100, 100, 100, 0.5);
    border-radius: .5em 0 .5em 0;
    padding: .5em;
    text-decoration: none;
    background-color: rgba(100, 100, 100, 0.2);
    color: inherit;
}

.opcion-principal:hover,
.opcion-secundaria:hover,
.opcion-secundaria:hover  {
    background-color: rgba(100, 100, 100, 0.3);
}
.opcion-principal {
    margin: 0 .5em 0 .5em;
}
.opcion-secundaria,
.opcion-terciaria {
    max-width: 5em;
    min-width: 5em;
    margin: 0.2em auto 0.2em auto;
}
