/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Víctor M. Rivas Santos <vrivas@ujaen.es>
 * @date 03-Feb-2023
 */

 table.listado_jugadores {
    width: 100%;
    border: 1px solid rgba(0, 0, 100, 0.8);
}

table.listado_jugadores thead th {
    margin: 3px;
    height: 2.5em;
    background-color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;

}

table.listado_jugadores tbody td {
    padding: 0.5em;
    text-align: center;
}

table.listado_jugadores tbody tr {
    margin: 3px;
    height: 2em;
    background-color: rgba(0, 0, 100, 0.1)
}


.form-jugador-elemento:disabled {
    color: black;
    background-color: inherit;
    border-width: 0px;
    text-align: center;
}

.form-jugador-elemento:enabled {
    color:rgba(0, 0, 100, 0.8);
}

.form-jugador-elemento:enabled:required {
    color:rgba(100, 0, 0, 0.8);
}

table.listado_jugadores thead,
table.listado_jugadores tbody,
table.listado_jugadores tr,
table.listado_jugadores td {
    text-align: center;
    margin: 0 auto 0 auto;
}

table.listado_jugadores {
    width: 100%;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(100, 100, 100, 0.5);
    border: 1px solid rgba(0, 0, 100, 0.8);
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
  }
  
  .btn:hover {
    background-color: rgba(0, 0, 100, 0.3);
  }
   

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  